
*.class

target/classes/dev_persistence.properties

target/classes/logback.xml

target/classes/mailsender.properties

target/classes/persistence.properties

target/inspection-framework-server-0.0.1/META-INF/MANIFEST.MF

target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

target/m2e-wtp/web-resources/META-INF/maven/inspection-framework-server/inspection-framework-server/pom.properties

target/m2e-wtp/web-resources/META-INF/maven/inspection-framework-server/inspection-framework-server/pom.xml

bridge.jpg

inspection-framework-server.iml

logo-studentenwerk.png

model/entity_model.png
